**/_pycache_
*.pyc
*.log
*.parquet
/backtest/pickle/pro/hisBarsStocksM30arr.p
/backtest/pickle/pro/hisBarsStocksM5arr.p
/backtest/pickle/pro/compressed/hisBarsStocksMN1arr.p
/backtest/pickle/pro/compressed/hisBarsStocksW1arr.p
/backtest/pickle/pro/compressed/hisBarsStocksH1arr.p
/backtest/pickle/pro/compressed/hisBarsStocksM30arr.p
/backtest/pickle/pro/compressed/hisBarsStocksM15arr.p
/backtest/pickle/pro/compressed/hisBarsStocksM10arr.p
/backtest/pickle/pro/compressed/hisBarsStocksM5arr.p
/backtest/pickle/pro/compressed/hisBarsStocksM3arr.p
/backtest/pickle/pro/compressed/hisBarsStocksFullM30arr.p
/backtest/pickle/pro/compressed/hisBarsStocksRFM30arr.p
/backtest/pickle/pro/compressed/hisBarsStocks4MM30arr.p
/backtest/pickle/pro/compressed/hisBarsStocks4MPreM30arr.p
/backtest/pickle/pro/compressed/hisBarsStocks5-5MH1arr.p
/backtest/pickle/dataDict.p
/backtest/csv
*.p
temp
/csv/vwap
/backtest/data/option
/backtest/data/cache
/data/option
/data/jp/shihannki
*.yaml
*.pickle
blackboxstocks.py